* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* 头部样式 */
.header {
  background-color: #f2e209;
  padding: 20px;
  text-align: center;
}

nav{
  text-align: center;
  background-color: black;
  margin-left: 200px;
  margin-right: 200px;
  }
  
nav ul {
   display: inline-block;
   list-style-type:none;
   margin: 0;
   padding:0
  }
  
nav ul li {
display: inline-block;
 margin: 0 10px;
  }
  
  nav ul li a {
 display:block;
  padding: 10px;
   color: #ffffff;
   text-decoration:none;
  }
  
  nav ul li a:hover {
   color: #07daff;
   background-color: #b44242;
  }
/* 创建三个相等的列 */
.column {
  float: left;
  padding: 10px;
}

/* 左右两侧宽度 */
.column.side {
  width: 25%;
}

/* 中间区域宽度 */
.column.middle {
  width: 40%;
}

/* 列后面清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 响应式布局 - 宽度小于600px时设置上下布局 */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* 底部样式 */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
